@use "../abstracts/variables" as v;

.skeleton {
  display: grid;
  gap: 1.5rem;

  &__item {
    background: v.$medium-gray;
    border-radius: v.$border-radius;
    height: 200px;
    animation: pulse 1.5s infinite ease-in-out;
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
